.env
.env.template
.env.example
.venv
.vscode
.idea
__pycache__/
*/.pytest_cache/
*/.mypy_cache/
*/.ipynb_checkpoints/
*/.DS_Store/
*/Thumbs.db/
*/ehthumbs.db/
*/Desktop.ini/
*/.vscode/
*/.idea/
*/.env/
*/.env.template/
*/.env.example/
*/.venv/
*/.vscode/