flask
flask-cors
google-genai
google-generativeai
python-dotenv
feedparser
requests
PyMuPDF
python-json-logger
reportlab
flask 
pydub 
openai-whisper 
langdetect 
python-Levenshtein 
librosa 
numpy 
torch 
torchaudio 
transformers